{% extends "blog/base.html" %}
{% load custom_tags}
{% load humanize %}
{% block content %}



<div class="content-section">
    <p class="text-secondary">Welcome, {{ user.username }}</p>
    <p class="text-secondary">Current Equity: ${{ user_data.current_equity | intcomma}}</p>
    <p class="text-secondary">Net Equity Deposit: ${{ user_data.net_equity_deposit| intcomma }}</p>
    <p class="text-secondary">Estimated Annual Income: ${{ user_data.estimated_annual_income | intcomma}}</p>
    {% if user_data.daily_gain >= 0 %}
      <p class="text-secondary">Today's change: ${{ user_data.daily_gain | floatformat:2 | intcomma}}</p>
    {% else %}
      <p class="text-secondary">Today's change: -${{ user_data.daily_gain |multiply:-1 |floatformat:2|intcomma }}</p>
    {% endif %}



    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel=”stylesheet” type=”text/css”>
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel=”stylesheet” type=”text/css”>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    {{ script | safe }}
    {{ div | safe}}

    <head>
      <meta charset="utf-8">
      <title>matplot</title>
    </head>
    <body>
      <img src="data:image/png;base64,{{ data }}" alt="" height="300" ,width="300">
    </body>

  

</div>

{% endblock content %}