{% extends "blog/base.html" %}
{% load custom_tags}
{% load humanize %}
{% block content %}



<div class="content-section">
  {% for transaction in transactions %}
      {% if transaction.transaction_amount >= 0 %}
          <p class="text-secondary"><font color = 'green'> +${{transaction.transaction_amount|intcomma}} </font> on {{transaction.date|date:"b d, Y"}} </p>
      {% else %}
          <p class="text-secondary"><font color = 'red'> -${{transaction.transaction_amount|multiply:-1|intcomma}} </font> on {{transaction.date|date:"b d, Y"}} </p>
      {% endif %}
  {% endfor %}



</div>

{% endblock content %}
